extends layout

block content
  div(ng-controller="indexController", ng-init="init()")
    .container
      .row
        .col-12.chatParent.p-0.pt-4
          .text_header
            h1.header_title= title
            p.header_text Welcome to User
          .chat.chat_area
            .item(ng-repeat='message in messages' )
              .content(ng-if="!message.type.code" ,  style="background: {{message.colorRandtwo}} !important;") 
                  a.header_name {{ message.username }} &nbsp;
                  .description.message(ng-if="!message.type.message")
                    | Chatdan Chiqib ketdi
                  .description_message(ng-if="message.type.message")
                    | Chatga qo'shildi 
              .content(ng-if="message.type.code" ,  style="background: {{message.color}} !important;") 
                a.header_name {{ message.username }} &nbsp;
                .description_message
                  | {{ message.text }}
          form(ng-submit="newMessage()" )
            input.form-control(ng-model='message',, ng-focus="focusInput()", placeholder='Shu yerga Yozishingiz kerak', id="messageArea")
            label(for="messageArea").text-white 
            button.btn.btn-dark(type="submit") 
              i.fab.fa-telegram-plane.text-white        
  