doctype html
html
  head
    title= title
    link( rel="stylesheet" , href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app="app", ng-cloak) 
    block content
    




    block javascript
      script(src="/socket.io/socket.io.js")
      script(src="../src/socketApi.js")
      script(src="/jquery/dist/jquery.min.js")
      script(src="/angular/angular.min.js")
      script(src="/javascripts/main.js")
      script(src="/javascripts/services/indexFactory.js")
      script(src="/javascripts/services/configFactory.js")
      script(src="./randomColor.js")
      script(src="/javascripts/controller/index_Controller.js")
      

