*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background:#2a2a2a;
    width: 100%;
}
.chatParent{
    text-align: center;
 height: 100vh !important;
    background:#2f2f2f;
}
.chat_area .item  .content {
    text-align: left;
    border-radius: 10em;
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 50%;
}
.header_title{
    color: turquoise;
}
.header_text{
    color: turquoise;
}
a.header_name{
    color: white;
    margin-bottom:10px;
    font-size:20px;
}
.description_message{
    color: white;
    margin-bottom:10px;
    font-size:16px;
}
.chat_area{
 height: 70vh !important;
 overflow-y: auto;
 overflow-x: hidden;
 padding: 30px;
 
}
.navbar{
    height:100vh;
    overflow-y: auto;
    background:#2a2a2a;
    width:100%;
    box-shadow:0 0 10px #eee;
}
.nav_item{
    padding:20px 30px;
    border-bottom:1px solid #eee;
    color:white;
    font-size:20px;
}
.nav_item i{
 margin-right:10px
    
}
form{
    position: fixed;
    right: 0;
    bottom:0;
    width: 100%;
    padding: 15px 20px;
    background:#252525;
    display:flex;
    justify-content: center;
    align-items:center ;
}
form .form-control{ 
    background: rgb(78, 79, 80);
    transition: .5s;
    
}
form .form-control::placeholder{ 
    color:white;
}
form .form-control:focus::placeholder{ 
    color:gray;
}
form .btn{
    background: rgb(5, 106, 139);
    margin: 5px;
}
@media(max-width:991px){
   .item{
    width: 100%;
   } 
}

